// *{
//     overflow: hidden;
// }
@media (max-width:320px){
    .contacto2{
        padding:0px;
        margin-left: 30px;
        text-align: center;
    }
    .descripcionn h1{
        font-size: 1rem;
    }
    .descripcionn p{
        padding: 3px 10px 3px 10px;
        font-size: 0.8rem;
    }
    .descripcionn h2{
        font-size: 0.8rem;
        margin: 0px;
    }
    .conntenido h3{
        margin: 5px;
        font-size: 1rem;
    }
    .icono{
        height: 8vh;
    }
    .conntenido h4{
        font-size: 0.6rem;
    }
    .conntenido p{
        font-size: 0.5rem;
    }
    .recursoss{
        background-size: 20rem;
    }
    .recursoss h5{
        font-size: 0.6rem;
        padding-top: 4px;
    }
    .recursoss h6{
        font-size: 0.6rem;
        padding-top: 3px;
    }
    .recursoss p{
        font-size: 0.4rem;
        margin-top: 5px;
    }
    .fott{
        padding: 10px;
    }
    .tituloo{
        padding-left: 20px;
        font-size: 1rem;
    }
    .direccionn, .tell{
        padding-left: 20px;
        font-size: 0.8rem;
    }
    .copp{
        font-size: 0.8rem;
    }
    .empresa{
        background-size: 30rem;
        height: 40vh;
    }
    .empresa h1{
        font-size: 1.5rem;
        padding-top: 100px;
    }
    .objetivos h2{
        font-size: 1.2rem;
        margin-top: 25px;
    }
    .objetivos p{
        font-size: 0.8rem;
        margin-top: 20px;
        padding: 2px 10px 2px 10px;
    }
    .objetivos2 p{
        font-size: 0.8rem;
        margin: 10px;
    }
    .objetivos2 ul li{
        font-size: 0.8rem;
        margin: 10px;
    }
    .practica h1{
        font-size: 1.3rem;
        background-size: 30rem;
    }
    .practica h2{
        padding-left: 30px;
        margin: 0px;
        font-size: 1rem;
    }
    .practica ul li{
        font-size: 0.7rem;
        margin-left: 30px;
    }
    .titulo1{
        font-size: 1.5rem;
        background-size: 30rem;
        height: 40vh;
        padding-top: 100px;
    }
    .profesionales h2{
        font-size: 1.3rem;
        padding-left: 30px;
    }
    .profesionales p{
            font-size: 0.8rem;
            padding-left: 30px;
    }
    .card{
        max-width: 30vh;
    }
    .fondo{
        background-size: 20rem;
        height: 40vh;
    }
    .fondo h1{
            font-size: 1.5rem;
            padding-top: 120px;
    }
    .datos h2{
        font-size: 0.7rem;
        padding-left: 20px;
    }
    .datos ul li{
        margin: 0px;
        padding-left: 0px;
        font-size: 0.5rem;
    }
    .label{
        font-size: 0.7rem;
    }
    .form-control{
        height: 2px;
        max-width: 160px;
    }
}
@media (min-width:320px) and (max-width:480px){
    .contacto2{
        color:#333333;
        font-size: 0.7em;
        text-align: center;
    }
    .fotos1{
        height: 50vh;
    }
    .descripcionn h1{
        font-size: 1.3rem;
    }
    .descripcionn p{
        font-size: 0.7rem;
        padding: 1px 7px 1px 7px;
    }
    .descripcionn h2{
        font-size: 1rem;
    }
    .conntenido h3{
        font-size: 1.3rem;
    }
    .conntenido h4{
        font-size: 1rem;
    }
    .conntenido p{
        font-size: 0.8rem;
    }
    .recursoss{
        background-size: 30rem;
    }
    .recursoss h5{
        font-size: 0.9rem;
        padding-top: 10px;
    }
    .recursoss h6{
        padding-top: 10px;
        font-size: 0.7rem;
    }
    .recursoss p{
        margin-top: 0px;
        font-size: 0.6rem;
    }
    .fott{
        padding: 30px;
    }
    .tituloo{
        padding: 0px;
        margin: 0px;
        font-size: 1.2rem;
    }
    .direccionn, .tell{
        padding: 0px;
        margin: 0px;
        font-size: 0.7rem;
    }
    .copp{
        padding: 5px;
        font-size: 0.7rem;
    }
    .empresa{
        background-size: 30rem;
    }
    .objetivos h2{
        margin: 20px;
        font-size: 1.5rem;
    }
    .objetivos p{
        margin: 5px;
        padding: 1px 7px 1px 7px;
        font-size: 0.8rem;
    }
    .objetivos2 p, ul li{
        margin: 5px;
        padding: 1px 7px 1px 7px;
        font-size: 0.8rem;
    }
    .practica h1{
        font-size: 1.7rem;
        background-size: 40rem;
    }
    .practica h2{
        font-size: 1.1rem;
        padding: 4px 10px 4px 34px;
    }
    .practica ul li{
        font-size: 0.9rem;
        margin-left: 40px;
    }
    .titulo1{
        font-size: 2rem;
        padding-top: 90px;
        background-size: 50rem;
        height: 40vh;
    }
    .profesionales h2{
        font-size: 1.5rem;
        padding-left: 40px;
    }
    .profesionales p{
        font-size: 0.8rem;
        padding-left: 40px;
    }
    .fondo{
        background-size: 30rem;
        height: 40vh;
    }
    .fondo h1{
        padding-top: 120px;
        font-size: 2rem;
    }
    .datos h2{
        font-size: 1.1rem;
    }
    .datos ul li{
        margin: 0px;
        padding: 0px;
        font-size: 0.8rem;
    }
    .label{
        font-size: 1rem;
    }
    .form-control{
        height: 15px;
        max-width: 40vw;
    }
}

@media (min-width:481px) and (max-width:768px){
    .contacto2{
        font-size: 0.7rem;
        text-align: center;
        padding: 0px;
    }
    .fotos{
        height: 36vh;
    }
    .descripcionn h1{
        font-size: 1.5rem;
    }
    .descripcionn p{
        font-size: 0.8rem;
        padding: 1px 12px 1px 12px;
    }
    .descripcionn h2{
        font-size: 1.3rem;
    }
    .conntenido h3{
        margin-top: 0px;
        padding: 10px;
        font-size: 1.5rem;
    }
    .conntenido h4{
        font-size: 1.2rem;
    }
    .conntenido p{
        font-size: 1rem;
    }
    .recursoss{
        background-size: 50rem;
    }
    .recursoss h5{
        font-size: 1.3rem;
        padding-top: 25px;
    }
    .recursoss h6{
        padding-top: 18px;
        font-size: 1.1rem;
    }
    .recursoss p{
        margin-top: 25px;
        font-size: 0.9rem;
    }
    .fott{
        padding: 38px;
    }
    .tituloo{
        padding: 4px;
        margin: 4px;
        font-size: 1.4rem;
    }
    .direccionn, .tell{
        padding: 3px;
        margin: 3px;
        font-size: 0.9rem;
    }
    .copp{
        padding: 5px;
        font-size: 1rem;
    }
    .empresa{
        background-size: 47rem;
    }
    .objetivos h2{
        font-size: 1.6rem;
        margin: 30px;
    }
    .objetivos p{
        padding: 1px 18px 1px 18px;
        margin: 5px;
    }
    .objetivos2 p, ul li{
        padding: 1px 18px 1px 18px;
        margin: 5px;
    }
    .practica h1{
        font-size: 2.5rem;
        background-size: 70rem;
    }
    .practica h2{
        font-size: 1.7rem;
    }
    .titulo1{
        font-size: 2.5rem;
        background-size: 50rem;
    }
    .profesionales h2{
        font-size: 1.9rem;
    }
    .profesionales p{
        font-size: 1rem;
    }
    .fondo{
        background-size: 50rem;
    }
    .fondo h1{
        font-size: 2.6rem;
    }
    .datos h2{
        font-size: 1.5rem;
    }
    .datos ul li{
        font-size: 0.9rem;
        padding: 0px;
        margin-left: 40px;
    }
    .label{
        font-size: 1.2rem;
    }
    .form-control{
        height: 40px;
        max-width: 44vw;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .contacto2{
        padding: 1px 10px 1px 10px;
        font-size: 0.8rem;
    }
    .fotos{
        height: 70vh;
    }
    .descripcionn h1{
        font-size: 1.7rem;
    }
    .descripcionn p{
        font-size: 1rem;
        padding: 1px 16px 1px 16px;
    }
    .descripcionn h2{
        font-size: 1.5rem;
    }
    .conntenido h3{
        margin-top: 0px;
        padding: 18px;
        font-size: 1.6rem;
    }
    .contenido h4{
        font-size: 1.1rem;
    }
    .conntenido p{
        font-size: 1rem;
    }
    .recursoss{
        background-size: 70rem;
        margin-bottom: 100px;
    }
    .recursoss h5{
        font-size: 1.6rem;
        padding-top: 46px;
    }
    .recursoss h6{
        padding-top: 27px;
        font-size: 1.4rem;
    }
    .recursoss p{
        margin-top: 25px;
        font-size: 1.1rem;
    }
    .fott{
        padding: 38px;
    }
    .tituloo{
        padding: 6px;
        margin: 6px;
        font-size: 1.3rem;
    }
    .direccionn, .tell{
        padding: 5px;
        margin: 5px;
        font-size: 1.1rem;
    }
    .copp{
        padding: 8px;
        font-size: 1.1rem;
    }
    .empresa{
        background-size: 70rem;
        height: 80vh;
    }
    .empresa h1{
        font-size: 5rem;
    }
    .objetivos h2{
        font-size: 2.4rem;
    }
    .objetivos p{
        font-size: 1.1rem;
        margin: 10px;
        padding: 1px 18px 1px 18px;
    }
    .objetivos2 p{
        font-size: 1.1rem;
        margin: 10px;
        padding: 1px 18px 1px 18px;
    }
    .objetivos2 ul li{
        font-size: 1.1rem;
        margin: 10px;
        padding: 1px 18px 1px 18px;
    }
    .practica h1{
        font-size: 3.3rem;
        background-size: 70rem;
    }
    .titulo1{
        font-size: 3rem;
        background-size: 70rem;
    }
    .profesionales h2{
        font-size: 2.3rem;
    }
    .profesionales p{
        font-size: 1.2rem;
    }
    .fondo{
        background-size: 70rem;
    }
    .fondo h1{
        font-size: 3rem;
    }
    .datos h2{
        font-size: 2rem;
    }
    .datos ul li{
        font-size: 1.1rem;
        margin-left: 70px;
    }
    .label{
        font-size: 1.3rem;
    }
    .form-control{
        max-width: 43vw;
    }
} 